.block {
  width: 30px;
  height: 30px;
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  contain: strict;
}

.block-empty {
  background-color: transparent;
  border: 1px dotted rgba(100, 100, 100, 0.3);
}

.block-filled {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.block-ghost {
  opacity: 0.3;
  outline: 2px solid rgba(255, 255, 255, 0.6);
  outline-offset: -2px;
}

@media (max-width: 768px) {
  .block {
    width: 20px;
    height: 20px;
  }
}
